/* section-header */
.hader-section {
  height: 80px;
}

.header-section .container {
  display: flex;
}

.header-logotype {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  width: 145px;
  height: 31px;
}
.color-logo {
  color: #000000;
}

.header-section .container {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.header-item {
  margin-left: 54px;
}
.header-item:nth-child(1) {
  margin-left: 0;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  width: 45px;
  height: 16px;
}

.header-link:hover {
  color: #2196f3;
}

.header-contakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  width: 135px;
  display: flex;
  flex-wrap: wrap;
}

.list-header {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.item-header:nth-child(2) {
  margin-left: 50px;
}

.header-contakt:hover {
  color: #2196f3;
}
/* <!-- cекція button --> */

.button-list {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  padding-bottom: 56px;
  padding-top: 100px;
}

.button-list li {
  margin-right: 50px;
}

.button-item {
  background-color: #f5f4fa;
}

.button-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
}

.button-btn:hover {
  background-color: #2196f3;
  color: #ffffff;
}

/* <!-- картинки --> */

.pictures-item:nth-child(3) {
  margin: 0;
}

.pictures-list {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  flex-wrap: wrap;
  margin-top: 20px;
}

.pictures-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: #212121;
  margin-bottom: 4px;
}

.pictures-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: #757575;
}

.pictures-list:nth-child(-n + 3) {
  margin-bottom: 0;
}

.pictures-list:nth-child(3n) {
  margin-right: 0;
}

.pictures-item {
  padding-right: 30px;
}

/* footer */

.footer-contakt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #e5e5e5;
}

.contakt-item {
  margin-bottom: 9px;
}

.location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-color {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}
