.header-section {
  width: 100%;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

body:hover{

}

.header-section .container {
  display: flex;
}

.header-logotype {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
  width: 145px;
  height: 31px;
}
.color-logo {
  color: #000000;
}

.header-section .container {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-list {
  display: flex;
  margin-left: 93px;
  align-items: center;
}

.header-item {
  margin-left: 54px;
}
.header-item:nth-child(1) {
  margin-left: 0;
}

.header-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #212121;
  width: 45px;
  height: 16px;
  transition-property:color;
  transition-duration: 250ms;
  transition-delay: 1000ms;
  transition-timing-function: cubic-bezier(.29,.58,.66,.12);
}

.header-link:hover {
  color: #2196f3;
}

.header-contakt {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: #757575;
  display: flex;
  margin-left: 10px;
  align-items: center;
  transition-property:color;
  transition-duration: 250ms;
  transition-delay: 1000ms;
  transition-timing-function: cubic-bezier(.29,.58,.66,.12);
}

.icon-email {
  width: 16px;
  height: 12px;
  fill: #757575;
  margin-right: 10px;
  transition-property:fill;
  transition-duration: 250ms;
  transition-delay: 1000ms;
  transition-timing-function: cubic-bezier(.29,.58,.66,.12);
}


.icon-tel {
  width: 10px;
  height: 16px;
  fill: #757575;
  margin-right: 10px;
  transition-property:fill;
  transition-duration: 250ms;
  transition-delay: 1000ms;
  transition-timing-function: cubic-bezier(.29,.58,.66,.12);
}

.list-header {
  display: flex;
  margin-left: auto;
  align-items: center;
}

.item-header {
  display: flex;
}

.item-header:nth-child(2) {
  margin-left: 50px;
}

.header-contakt:hover {
  color: #2196f3;
}

.icon-tel:hover {
  fill: #2196f3;
}

.icon-email:hover {
  fill: #2196f3;
}

/* main */
  body{
    padding-top: 100px;
  }
/* section-hero */
.hero-section {
  padding-top: 200px;
  padding-bottom: 200px;
  text-align: center;
  background-image: linear-gradient(
      to top,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/effectivesolutions.jpg);
}
.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;
}

.title-icon{
  font-weight: 700;
font-size: 20px;
line-height: 23px;
text-align: center;
letter-spacing: 0.03em;
color: #212121;
margin-bottom: 12px;
}

.modal{
  width: 528px;
  height: 581px;
  top: 50%;
  left: 50%;
  background: #FFFFFF;
  position: absolute;
  transform: translate(-50%, -50%);
}

.is-hidden{
  opacity: 0;
  pointer-events: none;  
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  
}

.custom-label{
  text-align: left;
  padding-left: 41px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  display: block;
  position: absolute;
  top: 30%;
  left: 100px;
  transform: translate(-50%);
  transition: transform 250ms line;


}

.custom-input:focus + .custom-label,
.custom-input:not(:placeholder-shown) + .custom-label{
  transform: translateY(-50px);
  color: #2196F3;
}

.form-field:focus-within .custom-input{
  background-color: white;
}

.comment-label{
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.01em;
  color: #757575;
  text-align: left;
  margin-bottom: 4px;
  display: block;
  margin-left: 50px;
}

.icon-svg{
  width: 18px;
  height: 18px;
  position: absolute;
  top: 40%;
  left: 53.3px;
}

.icon-item:hover{
  fill: #2196F3;
}

.icon-item{
  position: relative;
  font: inherit;
  cursor: pointer;
}


.icon-text{
  position: absolute;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  letter-spacing: 0.03em;
  color: #757575;
   bottom: 92px;
  left: 57px;

}

.custom-input{
    width: 448px;
    height: 40px;
    box-sizing: border-box;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    margin-bottom: 10px;
    padding-left: 42px;
}

.custom-input:hover{
  border-radius: 4px;
  border: 1px solid #2196F3;
}

.form-field{
  position: relative;
}

.icon-item:hover.icon-svg{
  fill: #2196F3;
}

.com-edit {
    box-sizing: border-box;
    width: 448px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
}

.com-edit:hover{
  border:1px solid #2196F3;
  border-radius: 4px;
  box-sizing: border-box;
}

.com-edit:hover .icon-text{
  color: #2196F3;
}


.com-check {
    display: flex;
    background: #212121;
    width: 16px;
    height: 15px;
    position: absolute;
    left: 52px;  
    font: inherit;
    cursor: pointer;
}

.icon-final-title {
    margin-top: 20px;
    margin-bottom: 30px;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
    color: #757575;
}

.conditions-span{
  font-weight: 400;
font-size: 14px;
line-height: 24px;
letter-spacing: 0.03em;
text-decoration-line: underline;
color: #757575;
font: inherit;
cursor: pointer;

}

.conditions-span:hover{
   color: #2196F3;
}

.close-button{
  width: 200px;
  height: 50px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  border: none;
  color: white;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
  font: inherit;
  cursor: pointer;
}

.modal-close {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #FFFFFF;
    border: 1px solid rgba(0, 0, 0, 0.1);
    padding-top: 6px;
    padding-left: 6px;
    top: 8px;
    right: 8px;
    position: absolute;
}

.modal-close-icon {
    width: 18px;
    height: 18px;
    font: inherit;
    cursor: pointer;
}


.hero-button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 24px;
  padding-right: 24px;
  border: none;
  repeat: no-repeat;

}

/* <!-- Секція текст --> */

.text-section .container {
  padding-top: 94px;
}

.text-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 10px;
  padding-top: 30px;
}

.text-deskription {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
}

.text-list {
  display: flex;
  justify-content: center;
}

.text-item {
  margin-right: 30px;
  width: 270px;
}

.text-item::before {
  content: "";
  display: block;
  background: #f5f4fa;
  border-radius: 4px;
  width: 270px;
  height: 120px;
}

.text-item:nth-child(4) {
  margin-right: 0;
}

.text-item:nth-child(1)::before {
  background-image: url(../images/antenna.png);
  background-size: 70px;
  background-repeat: no-repeat;
  background-position: center;
}

.text-item:nth-child(2)::before {
  background-image: url(../images/clock.png);
  background-repeat: no-repeat;
  background-position: center;
}

.text-item:nth-child(3)::before {
  background-image: url(../images/diagram.png);
  background-repeat: no-repeat;
  background-position: center;
}

.text-item:nth-child(4)::before {
  background-image: url(../images/astronaut\ .png);
  background-repeat: no-repeat;
  background-position: center;
}

/* <!-- Чим ми займаємось --> */

.work-section {
  color: #e5e5e5;
  padding-top: 94px;
}

.work-section.container {
  padding-bottom: 92px;
}

.work-list {
  display: flex;
  justify-content: center;
}

.work-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.work-item {
  width: 370px;
  margin-right: 30px;
  position: relative;
}

.work-item:nth-child(3) {
  margin-right: 0;
}

.work-text {
  font-weight: 700;
  line-height: 1.14px;
  letter-spacing: 0.03em;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  padding-bottom: 27px;
  padding-top: 27px;
  width: 370px;
  bottom: 0;
}


/* <!-- Наша команда --> */

.workers-section {
  background: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.workers-list {
  display: flex;
  justify-content: center;
}

.workers-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 50px;
}

.workers-item {
  width: 270px;
  margin-right: 30px;
  background-color: #ffffff;
  padding-bottom: 30px;
}

.workers-item:last-child {
  margin-right: 0;
}

.workers-tutyl {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 10px;
  margin-top: 30px;
}

.workers-name {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  text-align: center;
  letter-spacing: 0.03em;
  color: #757575;
}

.socials-contact {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  font: inherit;
  cursor: pointer;
  transition-property:backgrond-color,fill;
  transition-duration: 250ms;
  transition-delay: 1000ms;
  transition-timing-function: cubic-bezier(.29,.58,.66,.12);
}

.socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;
}

.socials-item {
  width: 44px;
  height: 44px;
}

.socials-link:hover .socials-contact {
  fill: #ffffff;
}

.socials-link {
  padding: 12px;
  display: flex;
}

.socials-link:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

/* Постійні клієнти */
.card-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: #212121;
  margin-bottom: 47px;
}

.logo-list {
  display: flex;
  align-items: center;
  padding-bottom: 100px;
}

.logo-icon {
  fill: currentColor;
  width: 45px;
  height: 45px;
}

.logo-link {
  color: #afb1b8;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 85px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 30px;
  font: inherit;
  cursor: pointer;
  transition-property:color,border-color;
  transition-duration: 250ms;
  transition-delay: 1000ms;
  transition-timing-function: cubic-bezier(.29,.58,.66,.12);
}

.logo-link:hover {
  color: #2196f3;
  border-color: #2196f3;
}

/* footer */

.footer-list {
  display: flex;
  align-items: center;
  margin-top: 16px;
}

.footer-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  text-align: left;
}

.footer-contact-icon {
  fill: #ffffff;

  width: 20px;
  height: 20px;
}

.footer-link {
  padding: 12px;
  display: flex;
  font: inherit;
  cursor: pointer;
  transition-property:backgrond-color;
  transition-duration: 250ms;
  transition-delay: 1000ms;
  transition-timing-function: cubic-bezier(.29,.58,.66,.12);
}

.footer-link:hover {
  background-color: #2196f3;
  border-radius: 50%;
}

.footer-item {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  margin-right: 10px;
}

.footer-contakt {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #e5e5e5;
}

footer .container {
  display: flex;
}

.footer-blok {
  margin-right: 70px;
}

.contakt-item {
  margin-bottom: 9px;
}

.location {
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  display: flex;
  margin-bottom: 9px;
  margin-top: 20px;
}

.footer-logo {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo-color {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #ffffff;
}

footer {
  background-color: #2f303a;
  padding-bottom: 60px;
  padding-top: 60px;
}


.modal-name{
  font-weight: 700;
font-size: 14px;
line-height: 16px;
text-align: center;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #FFFFFF;
margin-bottom: 20px;
}

.modal-text{
  font-weight: 400;
font-size: 16px;
line-height: 20px;
letter-spacing: 0.03em;
color: rgba(255, 255, 255, 0.6);
padding-left: 16px;
padding-top: 15px;
padding-bottom: 15px;
}

.modal-input{
  border: 1px solid rgba(125, 125, 125, 0.911);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  box-sizing: border-box;
  width: 358px;
  height: 50px;
  background: #2F303A;
  padding-left: 15px;
  margin-right: 12px;
}

.btn{
  width: 200px;
  height: 50px;
  border-radius: 4px;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border: none;
  align-items: center;
  display: flex;
  padding-left: 28px;
}

.icon-send{
  width: 24px;
  height: 24px;
  fill: #FFFFFF;
}

.btn-text{
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}

.modal-blok{
  display: flex;
}

.container-modal{
  margin-left: 93px;
}
