.footer{
  margin-left: 70px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 206px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
 }

 @media screen and (min-width: 768px) {
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
  margin-left: 70px;
}

 }

 footer .container{
  align-items: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
     display: block;
  }

  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 1200px) {
   
  }
 }


  .footer__list {
    @extend %flex;
    margin-top: 16px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: flex;
   }
 
   @media screen and (min-width: 768px) {
     //  .container{
     //   display: flex;
     //  }
   }
 
   @media screen and (min-width: 1200px) {
     // footer .container{
     //   display: block;
     //  }
   }

}
  
  
  .footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      text-align: center;
      
   }
  }
  
  .footer__contact-icon {
    fill: #ffffff;
    width: 20px;
    height: 20px;
  }
  
  .footer__link {
    padding: 12px;
    @extend %flex;
    font: inherit;
    cursor: pointer;
    /* transition-property:backgrond-color;
    transition-duration: 250ms;
    transition-delay: 1000ms;
    transition-timing-function: cubic-bezier(.29,.58,.66,.12); */
    transition: backgrond-color  150ms linear 850ms;
  }
  
  
  .footer__item {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .footer-blok__contakt {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #e5e5e5;
    
    @media screen and (min-width: 768px) {
      margin-left: 55px;
     
     }

     @media screen and (min-width: 1200px) {
      margin-left: 0;
     
     }
  }
  
  footer .container {
    @extend %flex;


  }
  
  .footer-blok {
    margin-right: 70px;

    @media screen and (min-width:320px) and (max-width:767px) {
       margin-left: auto;
       margin-right: auto;
      }

      @media screen and (min-width:768px) {
        margin-right: 165px;
       }

       @media screen and (min-width:1200px) {
        margin-right: 70px;
       }
  }
  
  .footer-blok__contakt-item {
    margin-bottom: 9px;

    @media screen and (min-width:320px) and (max-width:767px) {
     text-align: center;
     }

     @media screen and (min-width:768px) and (max-width:1999px) {
      text-align: center;
      }

      @media screen and (min-width:1200px) {
        text-align: left;
        }
  }
  
  .footer-blok__location {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    @extend %flex;
    margin-bottom: 9px;
    margin-top: 20px;

    @media screen and (min-width: 768px) {
      margin-left: 76px;
     
     }

     @media screen and (min-width: 1200px) {
      margin-left: 0;
     
     }

  }
  
  .footer-blok__logo {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    width: 145px;
    height: 31px;
    display: flex;

    @media screen and (min-width: 320px) and (max-width:767px) {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #2196F3;
        display: block;
        margin-right: auto;
        margin-left: auto;


  }

  @media screen and (min-width: 768px) {
    margin-left: 115px;
   
   }

   @media screen and (min-width: 1200px) {
    margin-left: 0;
   
   }
  }
  
  .footer-blok__color {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;

    @media screen and (min-width: 320px) and (max-width:767px) {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.03em;
      color: #ffffff;
  }

  @media screen and (min-width: 768px) {
     
  }

  @media screen and (min-width: 1200px) {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  }
  
  footer {
    background-color: $footer-background;
    padding-bottom: 60px;
    padding-top: 60px;

    &__link:hover {
      background-color: $hover;
      border-radius: 50%;
    }
  
      @media screen and (min-width: 768px) and (max-width:1199px) {
        width: 100%;
      }

      @media screen and (min-width:768px) and (max-width:1199px) {
        width: 100%;
    }

    @media screen and (min-width:1200px) {
        width: 100%;
    }
  }

  

.container-modal {
  margin-top: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;

  @media screen and (min-width: 1200px) {
      margin-left: 93px;
      margin-right: 0;
      margin-top: 0;
      text-align: left;
  
  }
}

.container-modal__name {
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
}

.container-modal__block {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  align-items: center;

  @media screen and (min-width: 480px) {
      width: 450px;
  }

  @media screen and (min-width: 768px) {
      width: 450px;
  }

  @media screen and (min-width: 1200px) {
      width: 570px;
  }
}

.container-modal__edit {
    border: 1px solid rgba(125, 125, 125, 0.911);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-sizing: border-box;
    height: 50px;
    background: #2F303A;
    padding-left: 15px;
    display: inline-block;
    transition: color 250ms linear 250ms;

    @media screen and (min-width: 320px) and (max-width:479px) {
      width: 310px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 480px) and (max-width:767px) {
      width: 450px;
      margin-left: 20px;
      margin-bottom: 20px;
    }

    @media screen and (min-width: 768px) and (max-width:1999px) {
      width: 450px;
      margin-bottom: 20px;
  
    }

    
    @media screen and (min-width: 1200px) {
      width: 358px;
      margin-bottom: 0;
      margin-left: 0;
      margin-right: 12px;
    }
}

.container-modal__edit:hover,
.container-modal__edit:focus {
  border: solid 1px #2196F3;
  cursor: pointer;
  height: 70px;
}

.container-modal__button {
  width: 200px;
  height: 50px;
  border-radius: 4px;
  border: none;
  background: #2196F3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  align-items: center;
  display: flex;
  padding-left: 28px;
  position: relative;
  transition: transform 500ms linear 250ms;
}

.container-modal__button:hover, .container-modal__button:focus {
  transform: scale(1.03);
}

.container-modal__icon-send {
  width: 24px;
  height: 24px;
  position: absolute;
  right: 18px;
  top: 26px;
  bottom: 13px;
  transform: translate(-50%, -50%);
  fill: white;
}

.container-modal__text {
  font-style: 700;
  font-size: 16px;
  line-height: 30px;
  // font-weight: ;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #FFFFFF;
}


  @media screen and (min-width: 320px) and (max-width: 480px) {
    footer .container{
     display: block;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    footer .container{
     display: block;
    }
  }

  @media screen and (min-width: 768px) {
    //  .container{
    //   display: flex;
    //  }
  }

  @media screen and (min-width: 1200px) {
    // footer .container{
    //   display: block;
    //  }
  }

  .footer-container{

    @media screen and (min-width:480px) {
      display: block;
      flex-wrap: nowrap;
    }

@media screen and (min-width:768px) {
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width:1200px) {
  display: flex;
  flex-wrap: nowrap;
}



  }
  

  





  