 .footer{
  margin-left: 70px;
  @media screen and (min-width: 320px) and (max-width: 767px) {
    width: 206px;
    margin-top: 60px;
    margin-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
 }

 @media screen and (min-width: 768px) {
  margin-left: 0;
}

@media screen and (min-width: 1200px) {
  margin-left: 70px;
}

 }

 footer .container{
  align-items: center;

  @media screen and (min-width: 320px) and (max-width: 767px) {
     display: block;
  }

  @media screen and (min-width: 768px) {

  }

  @media screen and (min-width: 1200px) {
   
  }
 }


  .footer__list {
    @extend %flex;
    margin-top: 16px;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: flex;
   }
 
   @media screen and (min-width: 768px) {
     //  .container{
     //   display: flex;
     //  }
   }
 
   @media screen and (min-width: 1200px) {
     // footer .container{
     //   display: block;
     //  }
   }

}
  
  
  .footer__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #ffffff;
    text-align: left;

    @media screen and (min-width: 320px) and (max-width: 767px) {
      text-align: center;
      
   }
  }
  
  .footer__contact-icon {
    fill: #ffffff;
    width: 20px;
    height: 20px;
  }
  
  .footer__link {
    padding: 12px;
    @extend %flex;
    font: inherit;
    cursor: pointer;
    /* transition-property:backgrond-color;
    transition-duration: 250ms;
    transition-delay: 1000ms;
    transition-timing-function: cubic-bezier(.29,.58,.66,.12); */
    transition: backgrond-color  150ms linear 850ms;
  }
  
  
  .footer__item {
    width: 44px;
    height: 44px;
    background-color: rgba(255, 255, 255, 0.1);
    border-radius: 50%;
    margin-right: 10px;
  }
  
  .footer-blok__contakt {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #e5e5e5;

    // @media screen and (min-width:480px) and (max-width:767px) {
    //   margin-left: 163px ;
    //   margin-right: 163px ;
    //   }

    // @media screen and (min-width:480px) and (max-width:767px) {
    //   margin-left: 124px;
    //   margin-right: 124px;
    //   }
  }
  
  footer .container {
    @extend %flex;


  }
  
  .footer-blok {
    margin-right: 70px;

    @media screen and (min-width:320px) and (max-width:767px) {
       margin-left: auto;
       margin-right: auto;
      }

      @media screen and (min-width:768px) {
        margin-right: 0;
       }

       @media screen and (min-width:1200px) {
        margin-right: 70px;
       }
  }
  
  .footer-blok__contakt-item {
    margin-bottom: 9px;

    @media screen and (min-width:320px) and (max-width:767px) {
     text-align: center;
     }
  }
  
  .footer-blok__location {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #ffffff;
    @extend %flex;
    margin-bottom: 9px;
    margin-top: 20px;

    // @media screen and (min-width:480px) and (max-width:767px) {
    //   padding-left: 163px;
    //   padding-right: 163px;
    //   }

  }
  
  .footer-blok__logo {

    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
    width: 145px;
    height: 31px;
    display: flex;

    @media screen and (min-width: 320px) and (max-width:767px) {
        font-family: 'Raleway';
        font-weight: 700;
        font-size: 24px;
        line-height: 28px;
        letter-spacing: 0.03em;
        color: #2196F3;
        display: block;
        margin-right: auto;
        margin-left: auto;


  }
  }
  
  .footer-blok__color {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #ffffff;

    @media screen and (min-width: 320px) and (max-width:767px) {
      font-family: 'Raleway';
      font-style: normal;
      font-weight: 700;
      font-size: 24px;
      line-height: 28px;
      letter-spacing: 0.03em;
      color: #ffffff;
  }

  @media screen and (min-width: 768px) {
     
  }

  @media screen and (min-width: 1200px) {
    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    text-align: center;
    letter-spacing: 0.03em;
    color: #ffffff;
  }
  }
  
  footer {
    background-color: $footer-background;
    padding-bottom: 60px;
    padding-top: 60px;

    &__link:hover {
      background-color: $hover;
      border-radius: 50%;
    }
  
      @media screen and (min-width: 768px) and (max-width:1199px) {
        width: 100%;
      }

      @media screen and (min-width:768px) and (max-width:1199px) {
        width: 100%;
    }

    @media screen and (min-width:1200px) {
        width: 100%;
    }
  }

  
  
  .container-modal__name{
    font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #FFFFFF;
  margin-bottom: 20px;
  display: flex;
  text-align: center;

  @media screen and (min-width: 320px) and (max-width:479px) {
     text-align: center;
     display: block;
}

@media screen and (min-width: 480px) and (max-width:767px) {
  text-align: center;
  display: block;
}

 @media screen and (min-width: 768px) and (max-width:1199px) {
  text-align: center;
}
  }
  
  .container-modal__input{
    border: 1px solid rgba(125, 125, 125, 0.911);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    box-sizing: border-box;
    width: 358px;
    height: 50px;
    background: #2F303A;
    padding-left: 15px;
    margin-right: 12px;
    display: inline-block;
    transition: color 250ms linear 250ms;

    @media screen and (min-width: 320px) and (max-width:767px) {
      width: 450px;
      margin-bottom: 20px;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .container-modal__btn{
    width: 200px;
    height: 50px;
    border-radius: 4px;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
    border: none;
    padding-left: 28px;
    @extend %flex;

    @media screen and (min-width: 320px) and (max-width:479px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 480px) and (max-width:767px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }

    @media screen and (min-width: 768px) and (max-width:1999px) {
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  }
  
  .container-modal__icon-send{
    width: 24px;
    height: 24px;
    fill: #FFFFFF;
  }
  
  .container-modal__text{
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
  }
  
  .container-modal{
    text-align: center;

    &__input:hover{
      color: $hover;
    }

    @media screen and (min-width:320px) and (max-width:479px) {
     width: 100%;
     display: block;
    }

    @media screen and (min-width:480px) and (max-width:767px) {
      width: 100%;
      display: block;
     }

    @media screen and (min-width:768px) and (max-width:1999px) {
      margin-left: 93px;
      display: flex;
  
    }

    @media screen and (min-width:1200px) {
      margin-left: 93px;
      display:flex;
  
    }
  }
  
  .container-modal__blok{
    @extend %flex;

    @media screen and (min-width: 320px) and (max-width: 479px) {
      display: block;
   }
    
    @media screen and (min-width: 480px) and (max-width: 767px) {
       display: block;
    }

    @media screen and (min-width: 768px) and (max-width: 1999px) {
      display: block;
   }

   @media screen and (min-width: 1200px) {
    display: flex;
 }
  }

  @media screen and (min-width: 320px) and (max-width: 480px) {
    footer .container{
     display: block;
    }
  }

  @media screen and (min-width: 480px) and (max-width: 767px) {
    footer .container{
     display: block;
    }
  }

  @media screen and (min-width: 768px) {
    //  .container{
    //   display: flex;
    //  }
  }

  @media screen and (min-width: 1200px) {
    // footer .container{
    //   display: block;
    //  }
  }

  





  