.logo-section{

  &__link:hover {
    color: $hover;
    border-color: $hover;
  }
}

.logo-section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 47px;

    @media screen and (min-width: 320px) {
      font-size: 28px;
    }

    @media screen and (min-width: 480px) {
      font-size: 28px;
    }

    @media screen and (min-width: 768px) {
      // font-size: 28px;
    }

    @media screen and (min-width: 1200px) {
      font-size: 36px;
    }
  }
  
  .logo-section__list {
  @extend %flex;
    padding-bottom: 100px;

    @media screen and (min-width: 320px) {
     display: flex;
     flex-wrap: wrap;
     justify-content: center;

    }

    @media screen and (min-width: 480px) {
      display: flex;
      flex-wrap: wrap;

    }

    @media screen and (min-width: 768px) {
      // display: block;
    }
    
    @media screen and (min-width: 1200px) {
      display: flex;
      flex-wrap: nowrap;
    }
  }

  .logo-section__item{

    @media screen and (min-width: 320px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 480px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) {
      // margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
  }
  
  .logo-section__icon {
    fill: currentColor;
    width: 45px;
    height: 45px;
  }

  .logo-section__link {
    color: #afb1b8;
    width: 170px;
    height: 85px;
    @extend %flex;
    margin-right: 30px;
    font: inherit;
    cursor: pointer;
    /* transition-property: color, border-color;
    transition-duration: 250ms;
    transition-delay: 250ms;
    transition-timing-function: linear; */
    transition: color 150ms linear 1000ms, border-color 150ms linear 850ms;
    // @include logo($px-border:1px, $type-border:solid, $color-border: #afb1b8, $px-radius:4px )
    border: 1px solid #afb1b8;
    border-radius: 4px;
  }
  