.logo-section{

  &__link:hover {
    color: $hover;
    border-color: $hover;
  }
}

.logo-section__title {
    font-weight: 700;
    font-size: 36px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 47px;
  }
  
  .logo-section__list {
  @extend %flex;
    padding-bottom: 100px;
  }
  
  .logo-section__icon {
    fill: currentColor;
    width: 45px;
    height: 45px;
  }

  .logo-section__link {
    color: #afb1b8;
    width: 170px;
    height: 85px;
    @extend %flex;
    margin-right: 30px;
    font: inherit;
    cursor: pointer;
    /* transition-property: color, border-color;
    transition-duration: 250ms;
    transition-delay: 250ms;
    transition-timing-function: linear; */
    transition: color 250ms linear 1000ms, border-color 250ms linear 1000ms;
  }

  .logo-section__link{
    @include logo-section__link ($px-border:1px, $type-border:solid, $color-border: #afb1b8, $px-radius:4px )
  }
  