@mixin padding($padding-war, $bottom-war) {
    padding-top:$padding-war;
    padding-bottom: $bottom-war;
}

@mixin logo($px-border, $type-border, $color-border, $px-radius ){
    border:$px-border $type-border $color-border;
    border-radius: $px-radius;
}  